@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}

.content{
    width: 520px;
}

#header{
  margin-bottom: 2px;
}

input[type="text"] {
    width: calc(100% -  57px);
    padding: 9px 12px;
    margin: 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"]{
    background-color: #4caf50;
    color: white;
    padding: 9px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="button"]:hover{
    background-color: #45a049;
}

.element_cont{
    padding: 0 12px;
}

.content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.element{
    max-width: 472px;
    display: flex;
}

.element_cont{
    width: calc(100%  - 74px);
    display: flex;
    align-items: center;
}

.element .del_btn{
    background-color: #cc4949;
    height: 42px;
}

.element .del_btn:hover{
    background-color: #bb4545;
}

hr{
  margin: 0 2px;
  border-top: 1px solid #a3a3a3;
}

@media screen and (max-width: 450px) {
    input[type="text"] {
        width: 100%;
    }

    input[type="button"]{
        width: 100%;
    }

    .element{
        display: block;
    }

    .btn_container{
        display: flex;
    }

    .element_cont{
        width: 100%;
    }

    input[type="button"].del_btn{
        width: 75%;
        margin: 0 auto;
    }
}
